checklist
models/*
*.pyc

website/db.sqlite3
website/secret_key.txt
website/generated_song.mid
website/files/model.hdf5
website/frontend/node_modules/
website/frontend/dist/
website/frontend/.cache/
website/templates/
